<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="board.dao.BoardDao">

	<insert id="insertBoard" parameterType="board">
		INSERT INTO board 
		values(board_seq.nextval, #{refno}, #{subject},#{content},#{writer},
			0,sysdate, sysdate,#{email},#{pass})
	</insert>

	<!-- ArrayList<Board> getList(BoardSch sch)
		1. return 타입을 위하여 만들 객체 ResultMap 선언
		2. <select id=? resultMap=? parameterType=?
		3. sql 처리 및 like에 들어갈 property 선언.
	 -->
	<resultMap type="board" id="boardMap"></resultMap>
	<select id="getList" resultMap="boardMap" parameterType="boardsch">
		SELECT * FROM BOARD
		WHERE 1=1
		<if test="subject!=null">
			AND subject LIKE '%'||#{subject}||'%'
		</if>
		<if test="writer!=null">
		AND writer LIKE '%'||#{writer}||'%'
		</if>
		ORDER BY NO DESC
	</select>
	
	<!-- public void uploadFile(BoardFile ins); -->
	<insert id="uploadFile" parameterType="boardfile">
		INSERT INTO boardfile
		VALUES(board_seq.currval, #{fname},#{pathname}, #{content} ,sysdate)
	</insert>
	
	<select id="getBoard" resultType="board" parameterType="int">
		select * from board where no=#{no}
	</select>
	
	<resultMap type="boardfile" id="bfResult"></resultMap>
	<select id="getFile" resultMap="bfResult" parameterType="int">
		select * from boardfile where no=#{no}
	</select>
	
	<update id="uptReadCnt" parameterType="int">
		UPDATE BOARD 
		SET READCNT = READCNT+1
		WHERE NO=#{no}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE Board 
		SET UPTDTE = SYSDATE,
			SUBJECT = #{subject},
			WRITER = #{writer},
			EMAIL = #{email},
			CONTENT = #{content}
		WHERE NO = #{no}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE NO=#{no}
	</delete>
	
</mapper>